@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/*#7489a1 for font-color with white background*/
/*#eb552a for background-color with white font-color*/
/*#f3f2f2 for backgroud-color*/

html, body {
    font-family: initial;
    background:  #f3f2f2;
    font-family: 'Didact Gothic', sans-serif;
    color: #7489a1;
    padding: 0;
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
.card .card-header {
    padding: 10px;
    border-bottom: solid #f3f2f2 1px;
}
.card .card-header .card-title {
    font-size: 18px;
    margin: 0;
}
.card .card-body {
    padding: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12-column grid */
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
    gap: 20px;
    /*padding: 20px;*/
}

.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.grid-item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

.portlet {
    padding: 0;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
.portlet .portlet-decoration {
    border-radius: 7px 7px 0 0;
    padding: 15px 20px;
    border-bottom: solid #f3f2f2 1px;
    background-color: #eb552a;
    color: white;
}
.portlet .portlet-content .operations {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.portlet .portlet-content .operations li {
    margin: 0;
    padding: 10px 20px;
}
.portlet .portlet-content .operations li a:hover  {
    margin: 0;
    /*background-color: #eb552a;*/  
    color: #eb552a;
}
.portlet .portlet-content .operations li a {
    text-decoration: none;
    color: #7489a1;
}

.header {
    margin: 0;
    padding: 0;
    background-color: #eb552a; 
    height: 54px; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}
.header .toggle-button {
    border: none;
    background-color: transparent;
    margin-left: 280px;
    color: white;
    font-size: 21px;
    cursor: pointer;
}

.navbar {
    width: 260px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 0;
    margin: 0;
}
.navbar .navbar-header{
    text-align: center;
    background-color: #eb552a; 
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .navbar-header .navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
}
.navbar .navbar-nav ul {
    /*padding: 0;*/
    /*margin: 0;*/
    padding-left: 20px;
    list-style: none;
    /*border: solid black 1px;*/
}
.navbar .navbar-nav ul li {
    /*border: solid black 1px;*/
    padding: 10px 0 10px 20px;
}
.navbar .navbar-nav ul li:hover {
    background-color: #f3f2f2;
    border-radius: 100px 0px 0px 100px;
}
.navbar .navbar-nav ul li a {
    color: #7489a1;
    text-decoration: none;
}
.navbar .navbar-nav ul li.active, .navbar .navbar-nav li.active a {
    background-color: #eb552a; 
    border-radius: 100px 0px 0px 100px;
    color: white !important;
    margin-bottom: 5px;
    margin-top: 5px;
}

.content { 
    margin: 54px 0 0 260px;
    padding: 0;
}
.content .main {
    margin: 0;
    padding: 20px;
}

.breadcrumbs {
    padding-top: 30px;
    padding-left: 30px;
    height: 140px;
    background-color: #eb552a;
    margin-bottom: -120px;
    color: white;
}
.breadcrumbs a {
    text-decoration: none;
    color: white;
}
.breadcrumbs span {
    font-weight: bold;

}

