.btn {border: none !important; padding: 12px 32px !important; border-radius: 0 !important;}
.btn-primary {background-color: #ec9232 !important;}
.purple-theme .btn-primary {background-color: #4d5bf9 !important;}
.btn-default {background-color: #f3f2f2 !important;}
.text-red {color: red;}
.text-right {text-align: right;}
.text-center {text-align: center !important;}
a {text-decoration: none !important;}
.form-group {margin-bottom: 10px !important;}